@font-face {
  font-family: "High Tide";
  src: url("../fonts/HighTide-Regular.ttf");
}
@font-face {
  font-family: "Dymaxion Script";
  src: url("../fonts/11344.ttf");
}
@font-face {
  font-family: "Odin Rounded";
  src: url("../fonts/Odin Rounded - Regular.otf");
}

header {
  background-color: #000000;
  opacity: 0.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  div {
    margin: 50px;
    color: #ffffff;
    font-family: "Odin Rounded";
    font-size: 83px;
    font-weight: 400;
    line-height: 62.59px;
    position: relative;
  }
  button {
    margin: 50px;
  }
}
main {
  display: flex;
}
.rectangle1 {
  background-color: #1d619c;
  background-image: url("../img/blue.png");
  background: cover;
  opacity: 0.8;
  .textsleft {
    padding: 700px 0;
    margin: 0 auto;
    text-align: center;
    width: 600px;
    height: 241px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 400;
    line-height: 110.36px;
  }
  .text1 {
    font-family: "High Tide";
    font-size: 150px;
  }
  .text2 {
    margin-top: 30px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 100px;
    font-weight: 300;
  }
}
.rectangle2 {
  background-color: #1d619c;
  background-image: url("../img/2-layers.png");
  background: cover;
  opacity: 0.8;
}
.textsright {
  padding: 700px 0;
  margin: 0 auto;
  text-align: center;
  width: 611px;
  height: 242px;
  color: #ffffff;
  font-size: 100px;
  font-weight: 400;
  line-height: 110.36px;
}
.text3 {
  font-family: "Dymaxion Script";
  font-size: 150px;
}
.text4 {
  margin-top: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 100px;
}
footer {
  background-color: #595f6f;
  h3 {
    width: 848px;
    height: 435px;
    color: #c3c3c3;
    font-family: "Open Sans - Semibold";
    font-size: 35px;
    font-weight: 400;
  }
}
